$border-primary:#D1D9E1;
$bg-hover:#E0E5EB;
$text-secondary:#667f99;
$text-hover-primary:#4A69E8;
$table-bg-body-even:#E0E5EB;
$global-Text-finish:#8599AD;
$global-Icon-secondary:#667F99;
$global-Text-primary:#141A1F;
$input-default-border:#d1d9e1;